/*admin.style.css*/
.authcolum{
	height:450px;
}
.revistas{
	float:left;
	width:176px;
	height:240px;
	padding: 0;
	border-radius: 20px;
	margin: 5px;
/*	background:rgba(255,204,153,1);
	border:solid #000 1px;
	margin: 2px;*/
}
.revistas img{
	border-radius: 20px;
	height:240px;
	width:176px;
}
.revistas img:active{
	-webkit-filter: invert(30%);
}
.btn-revista{
	cursor:pointer;
}

.over{
	position:absolute;

}
.opciones{
	float:left;
}
.agregar {
	float: left;
	height: 240px;
	width: 150px;
	background-color: rgba(181, 173, 173, 0.5);
	vertical-align: middle;
	border-radius: 20px;
}
.agregar img {
	
	margin-top: 47.5px;
	width:145px;
	margin-left: 2.5px;
	border-color: #B9B9B9;
	border-right: 1px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;


}
.agregar img:active {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	opacity: 0.4;
}
nav{
	clear:both;
	float:left;
}
nav li{
	display: inline-block;
}
nav li .btn{
	font-size: 60%;
	width:100px;
	margin-left: 10px;
	margin-right: 10px;
}
.progreso{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	background-color: rgba(202, 202, 202, 0.5);
}
.progreso .barra{
	width:256px;
	height:64px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left: -128px;
	margin-top: -32px;
}
.progreso .barra #progressbar{
	width:200px;
	height:60px;
}