/*colaboradores.css*/
#contenido{
	background: url(../resources/backgroud-enlaces.png) 0px -42px;
}
.backblue{
/*background: rgba(2,23,50,0.8) 50% 100% no-repeat;*/
background: url(../resources/backrevistas.png) repeat-x 0px -80px;
}
.col_m {
	border-style: solid;
	border-width: 1px;
	border-color: #ff6600;
	margin:-2px;
}

.activo{
	z-index: 10;
	position: absolute;
	top:291px;
	width: 764px;
	height:387px;
	border-style: solid;
	border-color: rgba(2,23,50,1);
	border-width: 4px;
	background-color: #fff;
}
.activo .cerrar {
	display: inline-block;
	float:right;
	width:16px;
	height:16px;
	background-color: #ff6600;
}
.activo .cerrar img{
	margin-top: -6px;
}
.activo .nombre {
	display: inline-block;
	float:left;
	width:256px;
	height:32px;
	background-color: #ff6600;
	color:#fff;
	font-family: Insignia;
	text-align: center;
	padding-top: 5px;
	font-size: 16px;
}
.activo .foto {
	position:absolute;
	z-index: 21;

	top:69px;
	left: 103px;

}
.activo .foto img{
	width:235px;
}
.activo .info {
	position:absolute;
	background-color: rgba(2,23,50,1);
	color:#fff;
	text-align: justify;
	width:376px;
	max-height:239px;
	padding: 30px;
	font-size: 12px;
	font-family: nova;

	top:40px;
	left:331px;
}
.inactivo{
	display:none;
}