/*colaboradores.css*/
@keyframes "activo" {
 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   	filter: alpha(opacity=100);
   	opacity: 1;
 }

}

@-moz-keyframes activo {
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-webkit-keyframes "activo" {
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-ms-keyframes "activo" {
 100% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-o-keyframes "activo" {
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@keyframes "inactivo" {
 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   	filter: alpha(opacity=0);
   	opacity: 0;
 }

}

@-moz-keyframes inactivo {
 100% {
   filter: alpha(opacity=0);
   opacity: 0;
 }

}

@-webkit-keyframes "inactivo" {
 100% {
   filter: alpha(opacity=0);
   opacity: 0;
 }

}

@-ms-keyframes "inactivo" {
 100% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
 }

}

@-o-keyframes "inactivo" {
 100% {
   filter: alpha(opacity=0);
   opacity: 0;
 }

}

#contenido{
	background: url(../resources/backgroud-enlaces.png) 0px -42px;
}
.backblue{
/*background: rgba(2,23,50,0.8) 50% 100% no-repeat;*/
background: url(../resources/backrevistas.png) repeat-x 0px -80px;
}
.col_m {
	border-style: solid;
	border-width: 1px;
	border-color: #ff6600;
	margin:-2px;
	cursor:pointer;
}
.col_mi {
	border-style: solid;
	border-width: 1px;
	border-color: #ff6600;
	margin:-2px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity:1;
	-webkit-animation: inactivo 0.5s;
	-moz-animation: inactivo 0.5s;
	-ms-animation: inactivo 0.5s;
	-o-animation: inactivo 0.5s;
	animation: inactivo 0.5s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-ms-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

.oscuro{
	position: absolute;
	z-index: 9;
	background-color: #000;
	width:100%;
	height:100%;
	opacity: 0.2;
}

.activo{
	z-index: 10;
	position: absolute;
	top:291px;
	min-width: 764px;
	min-height:387px;
	border-style: solid;
	border-color: rgba(2,23,50,1);
	border-width: 4px;
	background-color: #fff;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity:0;
	-webkit-animation: activo 1s;
	-moz-animation: activo 1s;
	-ms-animation: activo 1s;
	-o-animation: activo 1s;
	animation: activo 1s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-ms-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
.activo .cerrar {
	display: inline-block;
	float:right;
	width:16px;
	height:16px;
	background-color: #ff6600;
}
.activo .cerrar img{
	margin-top: -6px;
}
.activo .nombre {
	display: inline-block;
	float:left;
	padding: 0 19px 0 19px;
	min-width:256px;
	height:32px;
	background-color: #ff6600;
	color:#fff;
	font-family: Insignia;
	text-align: center;
	padding-top: 5px;
	font-size: 16px;
}
.activo .foto {
	clear:both;
	float:left;
	z-index: 21;
	max-width:320px;
	min-width:320px;
	height:262px;
	top:69px;
	left: 103px;

}
.activo .foto img{
	margin: 31px 0 0 93px;
	width:235px;
}
.activo .info {
	float:right;
	background-color: rgba(2,23,50,0.95);
	width:1px;
	color:#fff;
	text-align: justify;
	min-width:376px;
	min-height:239px;
	padding: 30px;
	font-size: 15px;
	font-family: nova;

	top:40px;
	left:331px;
}
.inactivo{
	display:none;
}